/**
 * SampleAPI
 * This is a sample API
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.apis

import io.swagger.client.models.InlineResponse200

import io.swagger.client.infrastructure.*

class DefaultApi(basePath: kotlin.String = "https://virtserver.swaggerhub.com/999JackFlash/sample/1.0.0") : ApiClient(basePath) {

    /**
     * Returns a user by ID.
     * 
     * @param userId The ID of the user to return 
     * @return InlineResponse200
     */
    @Suppress("UNCHECKED_CAST")
    fun usersUserIdGet(userId: kotlin.Int): InlineResponse200 {
        
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/users/{userId}".replace("{" + "userId" + "}", "$userId")
        )
        val response = request<InlineResponse200>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as InlineResponse200
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
}
